<div id='container' ng-controller="LinksController">
<!-- <input type="text" my-on-key-down-call="callRestService()"> -->
<input type="search" size="40" placeholder="Search for Links" ng-model="search" id="search">
  <!-- <ul ng-repeat="data in data.links | filter:search"> -->
  <ul>
    <li class="link fx-fade-down fx-speed-1000" ng-repeat="link in data.links | orderBy:'-visits' | filter:search" ng-mouseover="fx-fade-down">

    <img src="assets/redirect_icon.png"/>
    <div class="title">{{link.title}}</div>
    <div class="visits"><span class="count">{{link.visits}}</span>Visits</div>
    <div class="original">{{link.url}}</div>
    <div class="info"><a href='{{link.base_url +"/api/links/"+ link.code}}'>{{link.base_url +"/"+ link.code}}</a></div>
    </li>
  </ul>
</div>


<!--
$$hashKey: "004"
__v: 0
_id: "553826fbdc13a9ec25d83889"
base_url: "http://localhost:3000"
code: "738dd"
title: "Google"
url: "http://www.google.com"
visits: 0
->
